<a href="https://colab.research.google.com/github/paresh-nayyar/CSCI-544_NLP/blob/master/Embedding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook is for training fastText and word2Vec on our dataset

In [25]:
import re
import pandas as pd
import string
import json
import requests

In [26]:
#Reading the data
url = "https://raw.githubusercontent.com/paresh-nayyar/CSCI-544_NLP/master/tweet_data.json?token=GHSAT0AAAAAABTMFR3GO542Q2OWFMQHT7F2YSXEKOQ"
url = requests.get(url)
text = url.text
data = json.loads(text)
df = pd.DataFrame(list(data.items()), columns=['tweetID', 'tweet'])
print(df.head(5))
print(df.shape)

     tweetID                                              tweet
0      46149  DON ko11mulko ki police sMs kar rahi hai par D...
1   40317002  khushi ki talaash me sabhi haiyn. kya maiyn au...
2   40319032  Are dostoin aao aur apne thoughts share karo. ...
3  308624342  Na tum aa sako gay na phir baat hogi, Yeh kais...
4  596311632  meethe gud me mil gaye til:)\nudi patang aur k...
(134693, 2)

In [27]:
#Basic Preprocessing
def cleanSentence(sentence):
  sentence = sentence.lower()
  sentence = sentence.rstrip().replace("\n"," ").replace("\r"," ")
  sentence = re.sub(' +', ' ', sentence)
  sentence = sentence.translate(str.maketrans('', '', string.punctuation))
  return sentence

df["tweet"]= df['tweet'].apply(lambda x : cleanSentence(x))
df.head()

     tweetID                                              tweet
0      46149  don ko11mulko ki police sms kar rahi hai par d...
1   40317002  khushi ki talaash me sabhi haiyn kya maiyn aur...
2   40319032  are dostoin aao aur apne thoughts share karo l...
3  308624342  na tum aa sako gay na phir baat hogi yeh kaisi...
4  596311632  meethe gud me mil gaye til udi patang aur khil...

In [28]:
#tokenizing
def tokenize(sentence):
  tokens = sentence.split(" ")
  tokens = [x for x in tokens if len(x)>0]
  return tokens

df["tokens"] = df["tweet"].apply(lambda x : tokenize(x))
df.head()

,tweetID,tweet,tokens
0,46149,don ko11mulko ki police sms kar rahi hai par d...,"[don, ko11mulko, ki, police, sms, kar, rahi, h..."
1,40317002,khushi ki talaash me sabhi haiyn kya maiyn aur...,"[khushi, ki, talaash, me, sabhi, haiyn, kya, m..."
2,40319032,are dostoin aao aur apne thoughts share karo l...,"[are, dostoin, aao, aur, apne, thoughts, share..."
3,308624342,na tum aa sako gay na phir baat hogi yeh kaisi...,"[na, tum, aa, sako, gay, na, phir, baat, hogi,..."
4,596311632,meethe gud me mil gaye til udi patang aur khil...,"[meethe, gud, me, mil, gaye, til, udi, patang,..."

In [30]:
FastTextData = df["tokens"].tolist()
print(FastTextData[:1])

[['don', 'ko11mulko', 'ki', 'police', 'sms', 'kar', 'rahi', 'hai', 'par', 'don', 'ko', 'sms', 'karna', 'mushkil', 'hi', 'nahi', 'namumkin', 'hai', 'isliye', 'don', 'khud', 'sms', 'kar', 'raha', 'hai', 'happy', 'diwali', 'don']]

In [31]:
#FastText training
from gensim.models import FastText
model = FastText(size=300, window=10, hs=0, negative = 1, min_count=1)  # instantiate
model.build_vocab(sentences=FastTextData)
model.train(sentences=FastTextData, total_examples=len(FastTextData), epochs=10)
print("DONE!!!!")
model.save("fasttext_model.model")
print("Model saved!!!")

DONE!!!!
Model saved!!!

In [33]:
model.similarity('gussa', 'angry')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `similarity` (Method will be removed in 4.0.0, use self.wv.similarity() instead).
  """Entry point for launching an IPython kernel.

0.18726347